body {
  background-color: #9fd6fa;
}
h1 {
  font-family: 'Playwrite GB S', cursive;
  padding: 40px;
  font-size: 50px;
  font-weight: bold;
  color: blue;
  text-align: center;
}

h2 {
  font-family: 'Playwrite GB S', cursive;
}

#draw {
  text-align: center;
}

#tabella {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 colonne */
  gap: 20px;
  max-width: 100%;
  margin: 7em;
  background-color: rgb(159, 159, 255);
  padding: 50px;
}
.cella {
  background-color: #fcf38c;
  border: 1px solid #ffa77b;
  padding: 40px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 30px;
  max-width: 100%;
}
